@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin space_std($value) {
  margin: $value;
  padding: $value;
}

@mixin flex_std($direction, $wrap, $m_align, $c_align) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $m_align;
  align-items: $c_align;
}
